{% extends 'profiles/profile-main-page.html' %}
{% load static %}

{% block title %}
    Шаблоны
{% endblock %}

{% block content %}
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <!-- ============================================================== -->
            <!-- basic table  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Доктор <span class="text-uppercase font-bold text-dark">{{ user.full_name }}</span> это ваши готовые шаблоны</h5>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                              <thead>
                                <tr>
                                  <th class="th-sm">Название

                                  </th>
                                  <th class="th-sm">Описание

                                  </th>
                                  <th class="th-sm">Отдел

                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for sample in samples %}
                                    <tr>
                                      <td>{{ sample.title }}</td>
                                      <td>{{ sample.description }}</td>
                                      <td>{{ sample.department }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <!-- ============================================================== -->
        <!-- end basic table  -->
        <!-- ============================================================== -->
    </div>

{% endblock %}