{% extends 'profiles/profile-main-page.html' %}
{% load static %}

{% block title %}
    Заключения
{% endblock %}

{% block content %}
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <!-- ============================================================== -->
            <!-- basic table  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Доктор <span class="text-uppercase font-bold text-dark">{{ user.full_name }}</span> это ваши заключения</h5>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                              <thead>
                                <tr>
                                  <th class="th-sm">ФИО Пациента

                                  </th>
                                  <th class="th-sm">Услуги

                                  </th>
                                  <th class="th-sm">Дата Рождения

                                  </th>
                                  <th class="th-sm">Дата Заключения

                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for visit in visits %}
                                    <tr>
                                        <td>{{ visit.patient.profile_id.full_name }}</td>
                                        <td>{% for service in visit.service.all %}
                                            <p>{{ service.title }}</p>
                                            {% endfor %}
                                            </td>
                                        <td>{{ visit.patient.profile_id.birth_date }}</td>
                                        <td>{{ visit.start_time }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <!-- ============================================================== -->
        <!-- end basic table  -->
        <!-- ============================================================== -->
    </div>

{% endblock %}