{% extends 'med_center/index.html' %}
{% load static %}

{% block title %}
    О Мед. Центре
{% endblock %}

{% block content %}
  <section class="probootstrap-services">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-3 pb-5 probootstrap-aside-stretch-left probootstrap-inside">
          <div class="mb-3 pt-5">
            <h2 class="h6">О нас</h2>
            <ul class="list-unstyled probootstrap-light mb-4">
              <li class="active"><a href="#">История</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9 pl-md-5 pb-5 pl-0 probootstrap-inside">
          <h1 class="mt-4 mb-4">{{ med_center.title }}</h1>
            {{ med_center.description }}
          </div>
      </div>
    </div>
  </section>

{% endblock %}